Repository xumia/sonic-buildimage-1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lguohan, @jleveque, @qiluo-msft, @xumia

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @lguohan will be requested for review when someone opens
# a pull request.
*       @lguohan

/device/ @jleveque

# build
/rules/         @qiluo-msft @xumia @lguohan
/Makefile       @qiluo-msft @xumia @lguohan
/Makefile.cache @qiluo-msft @xumia @lguohan
/Makefile.work  @qiluo-msft @xumia @lguohan
/slave.mk       @qiluo-msft @xumia @lguohan
/scripts        @qiluo-msft @xumia @lguohan

# installer
/installer/     @qiluo-msft

# permission
/files/image_config/sudoers/  @qiluo-msft

# dockers
/dockers/docker-base*/                  @qiluo-msft
/dockers/docker-config-engine*/         @qiluo-msft
/dockers/docker-snmp/                   @qiluo-msft

# src
/src/initramfs-tools/                   @qiluo-msft

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Add steps to download certificate
  .azure-pipelines/azure-pipelines-download-certificate.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-download-certificate.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-download-certificate.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Support to download certificate
  .azure-pipelines/azure-pipelines-download-certificate.yml
Owners: @lguohan

Fix issue
  .azure-pipelines/azure-pipelines-download-certificate.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-download-certificate.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-download-certificate.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-download-certificate.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-download-certificate.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-download-certificate.yml
Owners: @lguohan

secureboot: Enable signing SONiC kernel (#10557)
  Makefile.work
  build_debian.sh
  rules/config
  slave.mk
  sonic-slave-buster/Dockerfile.j2
Owners: @qiluo-msft, @xumia, @lguohan

[Ci]: Support to sign image for cisco-8000 uefi secure boot
  .azure-pipelines/azure-pipelines-download-certificate.yml
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Change certificate path
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Enable secure boot signature
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Support symcrypt crypto module for fips
  Makefile.work
  azure-pipelines.yml
  onie-mk-demo.sh
  rules/config
  rules/sonic-fips.dep
  rules/sonic-fips.mk
  slave.mk
  sonic-slave-bullseye/Dockerfile.j2
  src/sonic-fips/Makefile
Owners: @qiluo-msft, @xumia, @lguohan

Add openssl krb in docker base image
  rules/docker-base-bullseye.mk
Owners: @qiluo-msft, @xumia, @lguohan

Add fips extra packages
  rules/sonic-fips.mk
Owners: @qiluo-msft, @xumia, @lguohan

Only install fips packages when the fips feature enabled
  rules/docker-base-bullseye.mk
Owners: @qiluo-msft, @xumia, @lguohan

Change fips debian package path
  dockers/docker-base-bullseye/Dockerfile.j2
  files/build_templates/sonic_debian_extension.j2
  rules/sonic-fips.mk
Owners: @qiluo-msft, @lguohan, @xumia

Fix armhf version issue (#9382)
  scripts/versions_manager.py
Owners: @qiluo-msft, @xumia, @lguohan

[Build]: Fix host image debian package version issue (#10358)
  scripts/prepare_slave_container_buildinfo.sh
  scripts/versions_manager.py
Owners: @qiluo-msft, @xumia, @lguohan

Support armhf/arm64 fips config
  installer/arm64/install.sh
  installer/armhf/install.sh
  platform/centec-arm64/platform.conf
  platform/marvell-arm64/platform.conf
Owners: @qiluo-msft, @lguohan

Enable fips
  onie-mk-demo.sh
Owners: @lguohan

Support to trigger artifacts uploading task
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

Support to trigger build on different project
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

Chage to use broadcom for test
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Test only
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Test only
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Test only
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Test only
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Change pool
  .azure-pipelines/official-build.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan
