Repository xumia/sonic-buildimage-1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lguohan, @jleveque, @qiluo-msft, @xumia

Support vs arm64
  build_image.sh
  device/virtual/arm64-qemu_armv8a-r0/README.md
  device/virtual/arm64-qemu_armv8a-r0/SONiC-VM/buffers.json.j2
  device/virtual/arm64-qemu_armv8a-r0/SONiC-VM/buffers_defaults_def.j2
  device/virtual/arm64-qemu_armv8a-r0/SONiC-VM/buffers_defaults_t0.j2
  device/virtual/arm64-qemu_armv8a-r0/SONiC-VM/buffers_defaults_t1.j2
  device/virtual/arm64-qemu_armv8a-r0/SONiC-VM/fabriclanemap.ini
  device/virtual/arm64-qemu_armv8a-r0/SONiC-VM/lanemap.ini
  device/virtual/arm64-qemu_armv8a-r0/SONiC-VM/pai.profile
  device/virtual/arm64-qemu_armv8a-r0/SONiC-VM/pg_profile_lookup.ini
  device/virtual/arm64-qemu_armv8a-r0/SONiC-VM/port_config.ini
  device/virtual/arm64-qemu_armv8a-r0/SONiC-VM/qos.json.j2
  device/virtual/arm64-qemu_armv8a-r0/SONiC-VM/sai.profile
  device/virtual/arm64-qemu_armv8a-r0/SONiC-VM/sai_mlnx.profile
  device/virtual/arm64-qemu_armv8a-r0/SONiC-VM/td2-s6000-32x40G.config.bcm
  device/virtual/arm64-qemu_armv8a-r0/asic.conf
  device/virtual/arm64-qemu_armv8a-r0/brcm_gearbox_vs/buffers.json.j2
  device/virtual/arm64-qemu_armv8a-r0/brcm_gearbox_vs/buffers_defaults_def.j2
  device/virtual/arm64-qemu_armv8a-r0/brcm_gearbox_vs/buffers_defaults_t0.j2
  device/virtual/arm64-qemu_armv8a-r0/brcm_gearbox_vs/buffers_defaults_t1.j2
  device/virtual/arm64-qemu_armv8a-r0/brcm_gearbox_vs/context_config.json
  device/virtual/arm64-qemu_armv8a-r0/brcm_gearbox_vs/gearbox_config.json
  device/virtual/arm64-qemu_armv8a-r0/brcm_gearbox_vs/lanemap.ini
  device/virtual/arm64-qemu_armv8a-r0/brcm_gearbox_vs/pg_profile_lookup.ini
  device/virtual/arm64-qemu_armv8a-r0/brcm_gearbox_vs/phy1_config_1.json
  device/virtual/arm64-qemu_armv8a-r0/brcm_gearbox_vs/port_config.ini
  device/virtual/arm64-qemu_armv8a-r0/brcm_gearbox_vs/qos.json.j2
  device/virtual/arm64-qemu_armv8a-r0/brcm_gearbox_vs/sai.profile
  device/virtual/arm64-qemu_armv8a-r0/brcm_gearbox_vs/td2-s6000-32x40G.config.bcm
  device/virtual/arm64-qemu_armv8a-r0/default_sku
  device/virtual/arm64-qemu_armv8a-r0/installer.conf
  device/virtual/arm64-qemu_armv8a-r0/platform_asic
  device/virtual/arm64-qemu_armv8a-r0/plugins/eeprom.py
  device/virtual/arm64-qemu_armv8a-r0/pmon_daemon_control.json
  onie-mk-demo.sh
  platform/vs/installer/arm64/install.sh
Owners: @lguohan, @jleveque

Fix bug
  onie-mk-demo.sh
Owners: @lguohan

Add cache build for marvell-armhf
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Update docker-sonic-slave.yml for Azure Pipelines
  .azure-pipelines/docker-sonic-slave.yml
Owners: @lguohan

Update azure-pipelines-push-version.yml for Azure Pipelines
  .azure-pipelines/azure-pipelines-push-version.yml
Owners: @lguohan

Update azure-pipelines-push-version.yml for Azure Pipelines
  .azure-pipelines/azure-pipelines-push-version.yml
Owners: @lguohan

Update azure-pipelines-push-version.yml for Azure Pipelines
  .azure-pipelines/azure-pipelines-push-version.yml
Owners: @lguohan

Update azure-pipelines-push-version.yml for Azure Pipelines
  .azure-pipelines/azure-pipelines-push-version.yml
Owners: @lguohan

Update azure-pipelines-push-version.yml for Azure Pipelines
  .azure-pipelines/azure-pipelines-push-version.yml
Owners: @lguohan

Support retryCountOnTaskFailure in job steps
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/azure-pipelines-job-groups.yml
  .azure-pipelines/azure-pipelines-update-step-properties.yml
  azure-pipelines.yml
Owners: @lguohan

Test only
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Test
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Test
  .azure-pipelines/azure-pipelines-job-groups.yml
Owners: @lguohan

Test
  .azure-pipelines/azure-pipelines-job-groups.yml
Owners: @lguohan

Fix issue
  .azure-pipelines/azure-pipelines-job-groups.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-job-groups.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-job-groups.yml
Owners: @lguohan

test
  .azure-pipelines/azure-pipelines-job-groups.yml
Owners: @lguohan

Add more logs
  .azure-pipelines/azure-pipelines-job-groups.yml
Owners: @lguohan

Test value
  .azure-pipelines/azure-pipelines-job-groups.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-job-groups.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-update-step-properties.yml
Owners: @lguohan

Upgrade pip3 package docker to 5.0.3
  build_debian.sh
Owners: @lguohan

Enable repd build
  .azure-pipelines/azure-pipelines-repd-build-variables.yml
Owners: @lguohan

enable reproducible build
  .azure-pipelines/azure-pipelines-repd-build-variables.yml
Owners: @lguohan

Fix SONIC_VERSION_CONTROL_COMPONENTS display error
  Makefile.work
Owners: @qiluo-msft, @xumia, @lguohan

secureboot: Enable signing SONiC kernel (#10557)
  Makefile.work
  build_debian.sh
  rules/config
  slave.mk
  sonic-slave-buster/Dockerfile.j2
Owners: @qiluo-msft, @xumia, @lguohan

Test signing certificate
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Update official-build-cisco-8000.yml for Azure Pipelines
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @lguohan will be requested for review when someone opens
# a pull request.
*       @lguohan

/device/ @jleveque

# build
/rules/         @qiluo-msft @xumia @lguohan
/Makefile       @qiluo-msft @xumia @lguohan
/Makefile.cache @qiluo-msft @xumia @lguohan
/Makefile.work  @qiluo-msft @xumia @lguohan
/slave.mk       @qiluo-msft @xumia @lguohan
/scripts        @qiluo-msft @xumia @lguohan

# installer
/installer/     @qiluo-msft

# permission
/files/image_config/sudoers/  @qiluo-msft

# dockers
/dockers/docker-base*/                  @qiluo-msft
/dockers/docker-config-engine*/         @qiluo-msft
/dockers/docker-snmp/                   @qiluo-msft

# src
/src/initramfs-tools/                   @qiluo-msft
