Repository xumia/sonic-buildimage-1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lguohan, @jleveque, @qiluo-msft, @xumia

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @lguohan will be requested for review when someone opens
# a pull request.
*       @lguohan

/device/ @jleveque

# build
/rules/         @qiluo-msft @xumia @lguohan
/Makefile       @qiluo-msft @xumia @lguohan
/Makefile.cache @qiluo-msft @xumia @lguohan
/Makefile.work  @qiluo-msft @xumia @lguohan
/slave.mk       @qiluo-msft @xumia @lguohan
/scripts        @qiluo-msft @xumia @lguohan

# installer
/installer/     @qiluo-msft

# permission
/files/image_config/sudoers/  @qiluo-msft

# dockers
/dockers/docker-base*/                  @qiluo-msft
/dockers/docker-config-engine*/         @qiluo-msft
/dockers/docker-snmp/                   @qiluo-msft

# src
/src/initramfs-tools/                   @qiluo-msft

Show permission
  build_debian.sh
Owners: @lguohan

Fix the /var wrong permission issue (#7571)
  scripts/build_debian_base_system.sh
Owners: @qiluo-msft, @xumia, @lguohan

Support build armhf on arm64
  Makefile.work
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base/Dockerfile.j2
Owners: @qiluo-msft, @xumia, @lguohan

Support build armhf on arm64
  Makefile.work
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base/Dockerfile.j2
Owners: @qiluo-msft, @xumia, @lguohan

Support Azure Pipelines
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/official-build.yml
  Makefile.work
Owners: @lguohan, @qiluo-msft, @xumia

Fix bug
  .azure-pipelines/azure-pipelines-Official.yml
Owners: @lguohan

fix bug
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

Update azure-pipelines-image-template.yml
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Update azure-pipelines-image-template.yml
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Update azure-pipelines-image-template.yml
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Update azure-pipelines-image-template.yml
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Update Makefile.work
  Makefile.work
Owners: @qiluo-msft, @xumia, @lguohan

Update azure-pipelines-image-template.yml
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Update azure-pipelines-image-template.yml
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Update azure-pipelines-image-template.yml
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Support to build armhf/arm64 platforms on arm based system without qumu simulator
  Makefile.work
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base/Dockerfile.j2
Owners: @qiluo-msft, @xumia, @lguohan

Refine makefile and add comments
  Makefile.work
Owners: @qiluo-msft, @xumia, @lguohan

Enable pr checkers for 201911 branch
  azure-pipelines.yml
Owners: @lguohan

Fix command not found issue
  azure-pipelines.yml
Owners: @lguohan

Fix source file path error
  azure-pipelines.yml
Owners: @lguohan

Fix sonic-mgmt branch reference error
  .azure-pipelines/run-test-template.yml
Owners: @lguohan

Fix script parameter error
  azure-pipelines.yml
Owners: @lguohan

Fix missing the depended files of dpkg cache in config engine
  rules/sonic-config.dep
Owners: @qiluo-msft, @xumia, @lguohan

Fix tab align issue
  rules/sonic-config.dep
Owners: @qiluo-msft, @xumia, @lguohan

Fix build test failure caused by error module name
  .gitmodules
Owners: @lguohan

Fix build dependency on parameterized issue
  sonic-slave-buster/Dockerfile.j2
Owners: @lguohan

Support the rpc image for mellanox
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

Add a parameter to build rpc image
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

Add a parameter to build rpc image
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

Support the rpc image for mellanox
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

Add rpc log
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

[ci]: build rpc image for mellanox (#7905)
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

build cisco-8000 platform for sonic
  .gitignore
  Makefile
  platform/checkout/cisco-8000.ini
  platform/checkout/template.j2
Owners: @lguohan, @qiluo-msft, @xumia

Support Azp for cisco-8000
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/official-build.yml
  Makefile
  platform/checkout/cisco-8000.ini
  platform/checkout/template.j2
Owners: @lguohan, @qiluo-msft, @xumia

support azp for cisco-8000
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/official-build.yml
Owners: @lguohan

Add an azp step to download cisco packages
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

Fix donwload private repo issue
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

update platform-cisco diffs with Makefile & template changes
  1146.patch
  Makefile
  platform/checkout/template.j2
Owners: @lguohan, @qiluo-msft, @xumia

Remove stale reference to a patch file
  1146.patch
Owners: @lguohan

support azp for cisco-8000
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/official-build.yml
Owners: @lguohan
