Repository xumia/sonic-buildimage-1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lguohan, @jleveque, @qiluo-msft, @xumia

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @lguohan will be requested for review when someone opens
# a pull request.
*       @lguohan

/device/ @jleveque

# build
/rules/         @qiluo-msft @xumia @lguohan
/Makefile       @qiluo-msft @xumia @lguohan
/Makefile.cache @qiluo-msft @xumia @lguohan
/Makefile.work  @qiluo-msft @xumia @lguohan
/slave.mk       @qiluo-msft @xumia @lguohan
/scripts        @qiluo-msft @xumia @lguohan

# installer
/installer/     @qiluo-msft

# permission
/files/image_config/sudoers/  @qiluo-msft

# dockers
/dockers/docker-base*/                  @qiluo-msft
/dockers/docker-config-engine*/         @qiluo-msft
/dockers/docker-snmp/                   @qiluo-msft

# src
/src/initramfs-tools/                   @qiluo-msft

Add an azp step to download cisco packages
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

Fix donwload private repo issue
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

Support to build armhf/arm64 platforms on arm based system without qumu simulator
  Makefile.work
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base/Dockerfile.j2
Owners: @qiluo-msft, @xumia, @lguohan

Refine makefile and add comments
  Makefile.work
Owners: @qiluo-msft, @xumia, @lguohan

Fix multi arch docker issue
  Makefile.work
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base/Dockerfile.j2
  slave.mk
Owners: @qiluo-msft, @xumia, @lguohan

Change docker base
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base/Dockerfile.j2
Owners: @qiluo-msft

Change the agent pool for armhf
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

Support to build armhf/arm64 platforms on arm based system
  .azure-pipelines/azure-pipelines-build.yml
  Makefile.work
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base/Dockerfile.j2
  slave.mk
Owners: @lguohan, @qiluo-msft, @xumia

Change armhf agent pool
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

Support to build armhf/arm64 platforms on arm based system (#7731)
  Makefile.work
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base/Dockerfile.j2
  slave.mk
Owners: @qiluo-msft, @xumia, @lguohan

Support marvall-armhf dpkg cache
  platform/marvell-armhf/docker-saiserver-mrvl.dep
  platform/marvell-armhf/docker-syncd-mrvl-rpc.dep
  platform/marvell-armhf/docker-syncd-mrvl.dep
  platform/marvell-armhf/libsaithrift-dev.dep
  platform/marvell-armhf/one-image.dep
  platform/marvell-armhf/platform-et6448m.dep
  platform/marvell-armhf/platform-nokia.dep
  platform/marvell-armhf/prestera.dep
  platform/marvell-armhf/rules.dep
  platform/marvell-armhf/sai.dep
Owners: @lguohan

Support centec-arm64 dpkg cache
  platform/centec-arm64/docker-saiserver-centec.dep
  platform/centec-arm64/docker-syncd-centec-rpc.dep
  platform/centec-arm64/docker-syncd-centec.dep
  platform/centec-arm64/libsaithrift-dev.dep
  platform/centec-arm64/one-image.dep
  platform/centec-arm64/platform-modules-centec-e530.dep
  platform/centec-arm64/rules.dep
  platform/centec-arm64/sai.dep
  platform/centec-arm64/tsingma-bsp.dep
Owners: @lguohan

Fix docker images built multiple times issue
  slave.mk
Owners: @qiluo-msft, @xumia, @lguohan

Fix bug
  slave.mk
Owners: @qiluo-msft, @xumia, @lguohan

Fix dpkg cache BLDENV issue
  Makefile.cache
Owners: @qiluo-msft, @xumia, @lguohan

Fix the tab/space aligning issue
  Makefile.cache
Owners: @qiluo-msft, @xumia, @lguohan

Add waiting time to debug
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

Add waiting for debug
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

Support dpkg cache for marvell-armhf
  platform/marvell-armhf/docker-saiserver-mrvl.dep
  platform/marvell-armhf/docker-syncd-mrvl-rpc.dep
  platform/marvell-armhf/docker-syncd-mrvl.dep
  platform/marvell-armhf/libsaithrift-dev.dep
  platform/marvell-armhf/one-image.dep
  platform/marvell-armhf/platform-et6448m.dep
  platform/marvell-armhf/platform-nokia.dep
  platform/marvell-armhf/prestera.dep
  platform/marvell-armhf/rules.dep
  platform/marvell-armhf/sai.dep
Owners: @lguohan

Support marvell-armhf pr checks
  .azure-pipelines/azure-pipelines-image-template.yml
  azure-pipelines.yml
Owners: @lguohan

Change the Test stage only depends on BuildVS
  azure-pipelines.yml
Owners: @lguohan

Fix the Build stage depending on BuildVS stage issue
  azure-pipelines.yml
Owners: @lguohan

Fix the Build stage depending on BuildVS stage issue
  azure-pipelines.yml
Owners: @lguohan

Fix agent pool issue
  azure-pipelines.yml
Owners: @lguohan

Fix armhf version issue
  scripts/versions_manager.py
Owners: @qiluo-msft, @xumia, @lguohan

Enable all builds
  .azure-pipelines/official-build.yml
Owners: @lguohan

Enable repd build
  .azure-pipelines/official-build.yml
Owners: @lguohan

Support to run all platforms
  .azure-pipelines/official-build.yml
Owners: @lguohan

Support to install gmain for debian stretch from backports
  sonic-slave-stretch/Dockerfile.j2
Owners: @lguohan

Support centec-arm64 dpkg cache
  platform/centec-arm64/docker-saiserver-centec.dep
  platform/centec-arm64/docker-syncd-centec-rpc.dep
  platform/centec-arm64/docker-syncd-centec.dep
  platform/centec-arm64/libsaithrift-dev.dep
  platform/centec-arm64/one-image.dep
  platform/centec-arm64/platform-modules-centec-e530.dep
  platform/centec-arm64/rules.dep
  platform/centec-arm64/sai.dep
  platform/centec-arm64/tsingma-bsp.dep
Owners: @lguohan

Support symcrypt fips
  Makefile.work
  build_debian.sh
  rules/config
  rules/sonic-fips.mk
  slave.mk
  sonic-slave-bullseye/Dockerfile.j2
  src/sonic-fips/Makefile
Owners: @qiluo-msft, @xumia, @lguohan

Fix slave.mk bug
  slave.mk
Owners: @qiluo-msft, @xumia, @lguohan

Fix Dockerfile bug
  sonic-slave-bullseye/Dockerfile.j2
Owners: @lguohan

Fix INCLUDE_FIPS variable not set issue
  Makefile.work
Owners: @qiluo-msft, @xumia, @lguohan

Fix Dockerfile issue
  sonic-slave-bullseye/Dockerfile.j2
Owners: @lguohan

Fix Dockerfile issue
  sonic-slave-bullseye/Dockerfile.j2
Owners: @lguohan

Fix Dockerfile issue
  sonic-slave-bullseye/Dockerfile.j2
Owners: @lguohan

Fix sonic-fips issue
  rules/sonic-fips.dep
  slave.mk
Owners: @qiluo-msft, @xumia, @lguohan

Fix sonic-fips issue
  rules/sonic-fips.mk
  src/sonic-fips/Makefile
Owners: @qiluo-msft, @xumia, @lguohan

Fix bug
  build_debian.sh
  rules/config
Owners: @lguohan, @qiluo-msft, @xumia
