Repository xumia/sonic-buildimage-1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lguohan, @jleveque, @qiluo-msft, @xumia

Fix bug
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

use publish-artifacts branch
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

fix bug
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

Test
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

Change trigger pipelines
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

Change trigger build
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

Fix bug
  .azure-pipelines/trigger-publish-artifacts-build.yml
Owners: @lguohan

Use the platform.tar.gz as a replacement for platform folder
  build_debian.sh
  files/Aboot/boot0.j2
  installer/arm64/install.sh
  installer/armhf/install.sh
  installer/x86_64/install.sh
Owners: @lguohan, @qiluo-msft

Set the version for python2 package protobuf
  dockers/docker-sonic-mgmt-framework/Dockerfile.j2
Owners: @lguohan

[Build]: Support to use the base image version when a package version not specified
  src/sonic-build-hooks/scripts/buildinfo_base.sh
  src/sonic-build-hooks/scripts/pre_run_buildinfo
Owners: @lguohan

Enable the reproducible build
  .azure-pipelines/official-build.yml
Owners: @lguohan

Set the version for python2 package protobuf
  dockers/docker-sonic-mgmt-framework/Dockerfile.j2
Owners: @lguohan

Test the variable template
  .azure-pipelines/official-build.yml
Owners: @lguohan

Fix template error
  .azure-pipelines/official-build.yml
Owners: @lguohan

Display the variable SONIC_BUILD_LOAD_AVG
  slave.mk
Owners: @qiluo-msft, @xumia, @lguohan

Remove parallel limit
  .azure-pipelines/template-variables.yml
Owners: @lguohan

Enable reproducible build
  .azure-pipelines/azure-pipelines-repd-build-variables.yml
Owners: @lguohan

Disable version control of host-base-image if the version path does not exist
  scripts/build_debian_base_system.sh
Owners: @qiluo-msft, @xumia, @lguohan

Change docker storage driver to improve performance
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Owners: @lguohan

Fix overlay not supported in slave container issue
  Makefile.work
Owners: @qiluo-msft, @xumia, @lguohan

Fix slave docker failed to start issue
  Makefile.work
Owners: @qiluo-msft, @xumia, @lguohan

Change the storage driver inside of the slave container
  Makefile.work
  rules/config
  slave.mk
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Owners: @qiluo-msft, @xumia, @lguohan

Revert "Revert "Reduce image size for lazy installation packages (#10775)" (#10916)"
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
Owners: @lguohan

Use the platform.tar.gz as a replacement for platform folder
  build_debian.sh
  files/Aboot/boot0.j2
  installer/arm64/install.sh
  installer/armhf/install.sh
  installer/x86_64/install.sh
Owners: @lguohan, @qiluo-msft

Reduce the requird disk size to unzip platform.tar.gz
  files/Aboot/boot0.j2
Owners: @lguohan

Fix a type issue
  files/Aboot/boot0.j2
Owners: @lguohan

Change to extract tar files in memory
  installer/arm64/install.sh
  installer/armhf/install.sh
  installer/x86_64/install.sh
Owners: @qiluo-msft

[Ci] Support the cross build for marvell-armhf/centec-arm64
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @lguohan will be requested for review when someone opens
# a pull request.
*       @lguohan

/device/ @jleveque

# build
/rules/         @qiluo-msft @xumia @lguohan
/Makefile       @qiluo-msft @xumia @lguohan
/Makefile.cache @qiluo-msft @xumia @lguohan
/Makefile.work  @qiluo-msft @xumia @lguohan
/slave.mk       @qiluo-msft @xumia @lguohan
/scripts        @qiluo-msft @xumia @lguohan

# installer
/installer/     @qiluo-msft

# permission
/files/image_config/sudoers/  @qiluo-msft

# dockers
/dockers/docker-base*/                  @qiluo-msft
/dockers/docker-config-engine*/         @qiluo-msft
/dockers/docker-snmp/                   @qiluo-msft

# src
/src/initramfs-tools/                   @qiluo-msft
