Repository xumia/sonic-buildimage-1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lguohan, @jleveque, @qiluo-msft, @xumia

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @lguohan will be requested for review when someone opens
# a pull request.
*       @lguohan

/device/ @jleveque

# build
/rules/         @qiluo-msft @xumia @lguohan
/Makefile       @qiluo-msft @xumia @lguohan
/Makefile.cache @qiluo-msft @xumia @lguohan
/Makefile.work  @qiluo-msft @xumia @lguohan
/slave.mk       @qiluo-msft @xumia @lguohan
/scripts        @qiluo-msft @xumia @lguohan

# installer
/installer/     @qiluo-msft

# permission
/files/image_config/sudoers/  @qiluo-msft

# dockers
/dockers/docker-base*/                  @qiluo-msft
/dockers/docker-config-engine*/         @qiluo-msft
/dockers/docker-snmp/                   @qiluo-msft

# src
/src/initramfs-tools/                   @qiluo-msft

[Ci] Support the SONiC reproducible build in Azure Pipelines (#13986)
  .azure-pipelines/azure-pipelines-repd-build-variables.yml
  .azure-pipelines/template-variables.yml
  .github/workflows/label.yml
Owners: @lguohan

[netlink] Increse netlink buffer size from 3MB to 16MB (#13965)
  files/image_config/sysctl/sysctl-net.conf
Owners: @lguohan

[ci] Fix SONiC cache build pipeline, which breaks for template change. (#13945)
  .azure-pipelines/official-build-cache.yml
Owners: @lguohan

[ci/build]: Upgrade SONiC package versions (#13989)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
Owners: @lguohan

Fix VOQ_CHASSIS_V6_PEER route-map config (#14055)
  dockers/docker-fpm-frr/frr/bgpd/templates/voq_chassis/peer-group.conf.j2
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/result_base.conf
Owners: @lguohan

Fix swsscommon psubscribe code break in frrcfgd (#13836)
  src/sonic-frr-mgmt-framework/frrcfgd/frrcfgd.py
  src/sonic-frr-mgmt-framework/tests/test_config.py
Owners: @lguohan

[ci] Build debug image in PR checks. (#14058)
  azure-pipelines.yml
Owners: @lguohan

[yang]Add FG-ECMP yang model (#14003)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/fine-grained-ecmp.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/fine_grained_ecmp.json
  src/sonic-yang-models/yang-models/sonic-fine-grained-ecmp.yang
Owners: @lguohan

[ci/build]: Upgrade SONiC package versions (#14072)
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-base-bullseye/versions-py3
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-database/versions-deb-bullseye
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-eventd/versions-deb-bullseye
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-lldp/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-deb-bullseye
  files/build/versions/dockers/docker-mux/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-router-advertiser/versions-deb-bullseye
  files/build/versions/dockers/docker-saiserverv2-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-teamd/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Owners: @lguohan

[Build] Support to use loosen version when failed to install python packages (#14013)
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Owners: @lguohan

[Seastone] fix dx010 qsfp eeprom data write issue (#13930)
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-cel/dx010/modules/dx010_cpld.c
Owners: @jleveque, @lguohan

[ptf]: Added package "wireshark-common" into PTF docker (#14070)
  dockers/docker-ptf/Dockerfile.j2
Owners: @lguohan

Add support for platform syncd pre shutdown plugin (#13564)
  files/scripts/syncd.sh
Owners: @lguohan

Check SONiC dependencies before installation. (#13850)
  src/sonic-config-engine/setup.py
  src/system-health/setup.py
Owners: @lguohan

Add QOS profiles for Arista SKUs (#13829)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/buffers.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/qos.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/buffers.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/qos.json.j2
Owners: @jleveque

Add shellcheck and mock modules for running unit and linter test (#14062)
  dockers/docker-sonic-mgmt/Dockerfile.j2
Owners: @lguohan

[yang]Add missing fields in PortChannel yang model (#14045)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/portchannel.json
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
Owners: @lguohan

Remove dialout as critical process (#14006)
  dockers/docker-sonic-telemetry/critical_processes
Owners: @lguohan

[Mellanox] update sdk/fw build procedure (#14025)
  .gitmodules
  platform/mellanox/fw.mk
  platform/mellanox/sdk-src/sx-kernel/Makefile
  platform/mellanox/sdk.mk
Owners: @lguohan

[Mellanox] Update MFT to 4.22.1-15 (#14133)
  platform/mellanox/mft.mk
Owners: @lguohan

[ci] Migrate test jobs to vmss agent pool to increase node limit. (#14127)
  azure-pipelines.yml
Owners: @lguohan

[Mellanox]Fix lpmode set when logical port is larger than 64 (#14138)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Owners: @lguohan

[action] Update AutoMergeScan action to ignore Semgrep and rerun failed job. (#14118)
  .github/workflows/automerge_scan.yml
Owners: @lguohan

sonic-buildimage Remove unused SAT port from arista configs. (#14167)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
Owners: @jleveque

[yang]SONiC Yang model support for Telemetry_client. (#12483) (#13314)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/telemetry_client.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/telemetry_client.json
  src/sonic-yang-models/yang-models/sonic-telemetry_client.yang
Owners: @lguohan

Add yang model definition for CHASSIS_MODULE table (#14007)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/chassis_module.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/chassis_module.json
  src/sonic-yang-models/yang-models/sonic-chassis-module.yang
Owners: @lguohan

[gearbox] use credo sai v0.9.0 (#14149)
  platform/components/docker-gbsyncd-credo.mk
Owners: @lguohan

[Mellanox] Place FW binaries under platform directory instead of squashfs (#13837)
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/mlnx-fw-upgrade.j2
Owners: @lguohan

Update dhcpmon rx/tx packet filtering and fix server rx count (#13898)
  src/dhcpmon/src/dhcp_device.cpp
  src/dhcpmon/src/dhcp_device.h
  src/dhcpmon/src/dhcp_devman.cpp
  src/dhcpmon/src/dhcp_devman.h
  src/dhcpmon/src/dhcp_mon.cpp
  src/dhcpmon/src/dhcp_mon.h
  src/dhcpmon/src/main.cpp
Owners: @lguohan

[dhcp-relay] Add dhcp_relay show cli (#13614)
  dockers/docker-dhcp-relay/cli-plugin-tests/mock_config.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcp_relay.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcpv6_helper.py
  dockers/docker-dhcp-relay/cli/clear/plugins/clear_dhcp6relay_counter.py
  dockers/docker-dhcp-relay/cli/show/plugins/show_dhcp_relay.py
Owners: @lguohan

Test only
  test
Owners: @lguohan

support parallel build
  Makefile
Owners: @qiluo-msft, @xumia, @lguohan

Add slave.mk
  slave.mk
Owners: @qiluo-msft, @xumia, @lguohan

Fix bug
  slave.mk
Owners: @qiluo-msft, @xumia, @lguohan

[Security] Disabling the ability for any setuid program to write a core file
  build_debian.sh
Owners: @lguohan

Support to make sonic-build-hooks in parallel
  Makefile
  scripts/generate_buildinfo_config.sh
  scripts/prepare_docker_buildinfo.sh
  src/sonic-build-hooks/Makefile
Owners: @qiluo-msft, @xumia, @lguohan

test
  Makefile.work
Owners: @qiluo-msft, @xumia, @lguohan

test
  Makefile
Owners: @qiluo-msft, @xumia, @lguohan

add rule common
  rules/common
Owners: @qiluo-msft, @xumia, @lguohan

Optimize the version control for debian packages
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Owners: @lguohan
