Repository xumia/sonic-buildimage-1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lguohan, @jleveque, @qiluo-msft, @xumia

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @lguohan will be requested for review when someone opens
# a pull request.
*       @lguohan

/device/ @jleveque

# build
/rules/         @qiluo-msft @xumia @lguohan
/Makefile       @qiluo-msft @xumia @lguohan
/Makefile.cache @qiluo-msft @xumia @lguohan
/Makefile.work  @qiluo-msft @xumia @lguohan
/slave.mk       @qiluo-msft @xumia @lguohan
/scripts        @qiluo-msft @xumia @lguohan

# installer
/installer/     @qiluo-msft

# permission
/files/image_config/sudoers/  @qiluo-msft

# dockers
/dockers/docker-base*/                  @qiluo-msft
/dockers/docker-config-engine*/         @qiluo-msft
/dockers/docker-snmp/                   @qiluo-msft

# src
/src/initramfs-tools/                   @qiluo-msft

Support symcrypt crypto module for fips
  Makefile.work
  rules/config
  rules/sonic-fips.dep
  rules/sonic-fips.mk
  slave.mk
  sonic-slave-bullseye/Dockerfile.j2
  src/sonic-fips/Makefile
Owners: @qiluo-msft, @xumia, @lguohan

Fix ssh service broken issue
  files/build_templates/sonic_debian_extension.j2
  rules/sonic-fips.mk
Owners: @lguohan, @qiluo-msft, @xumia

Upgrade golang version
  rules/sonic-fips.mk
  sonic-slave-bullseye/Dockerfile.j2
Owners: @qiluo-msft, @xumia, @lguohan

Fix missing openssh-sftp package issue
  Makefile.work
  rules/sonic-fips.mk
  src/sonic-fips/Makefile
Owners: @qiluo-msft, @xumia, @lguohan

Support ARM64
  Makefile.work
  slave.mk
Owners: @qiluo-msft, @xumia, @lguohan

Fix arm64 fips package folder issue
  rules/sonic-fips.mk
Owners: @qiluo-msft, @xumia, @lguohan

Fix fips package url issue
  sonic-slave-bullseye/Dockerfile.j2
Owners: @lguohan

Fix fips package url issue
  sonic-slave-bullseye/Dockerfile.j2
Owners: @lguohan

Update cisco-8000.ini
  platform/checkout/cisco-8000.ini
Owners: @lguohan

Fix Dockerfile issue
  sonic-slave-bullseye/Dockerfile.j2
Owners: @lguohan

Fix Dockerfile bug
  sonic-slave-bullseye/Dockerfile.j2
Owners: @lguohan

Fix Dockerfile issue
  sonic-slave-bullseye/Dockerfile.j2
Owners: @lguohan

Fix INCLUDE_FIPS variable not set issue
  Makefile.work
Owners: @qiluo-msft, @xumia, @lguohan

Fix slave.mk bug
  slave.mk
Owners: @qiluo-msft, @xumia, @lguohan

Support symcrypt fips
  Makefile.work
  build_debian.sh
  rules/config
  rules/sonic-fips.mk
  slave.mk
  sonic-slave-bullseye/Dockerfile.j2
  src/sonic-fips/Makefile
Owners: @qiluo-msft, @xumia, @lguohan

Fix Dockerfile issue
  sonic-slave-bullseye/Dockerfile.j2
Owners: @lguohan

Fix sonic-fips issue
  rules/sonic-fips.dep
  slave.mk
Owners: @qiluo-msft, @xumia, @lguohan

Fix sonic-fips issue
  rules/sonic-fips.mk
  src/sonic-fips/Makefile
Owners: @qiluo-msft, @xumia, @lguohan

Fix bug
  build_debian.sh
  rules/config
Owners: @lguohan, @qiluo-msft, @xumia

Support bullseye for docker telemtry
  rules/docker-telemetry.mk
Owners: @qiluo-msft, @xumia, @lguohan

Fix fips url error
  rules/sonic-fips.mk
Owners: @qiluo-msft, @xumia, @lguohan

Support symcrypt crypto module for fips
  Makefile.work
  rules/config
  rules/sonic-fips.dep
  rules/sonic-fips.mk
  slave.mk
  sonic-slave-bullseye/Dockerfile.j2
  src/sonic-fips/Makefile
Owners: @qiluo-msft, @xumia, @lguohan

Support bullseye for docker telemtry
  rules/docker-telemetry.mk
Owners: @qiluo-msft, @xumia, @lguohan

Support bullseye for docker restapi
  dockers/docker-sonic-restapi/Dockerfile.j2
  dockers/docker-sonic-telemetry/Dockerfile.j2
  rules/docker-restapi.mk
  sonic-slave-bullseye/Dockerfile.j2
Owners: @lguohan, @qiluo-msft, @xumia

Update the cisco artifact release to v0.4
  platform/checkout/cisco-8000.ini
Owners: @lguohan

Update the cisco artifact release to v0.4
  platform/checkout/cisco-8000.ini
Owners: @lguohan

select agent
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

Fix dead loop
  slave.mk
Owners: @qiluo-msft, @xumia, @lguohan

Fix marvell sai package version parsing issue
  platform/marvell-armhf/sai.mk
  platform/marvell-armhf/sai/Makefile
Owners: @lguohan

Support to override cisco sai packages
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Fix cisco sai packages not found issue
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Fix folder name issue
  .azure-pipelines/official-build-cisco-8000.yml
Owners: @lguohan

Display trap
  build_debian.sh
Owners: @lguohan

Update official-build.yml for Azure Pipelines
  .azure-pipelines/official-build.yml
Owners: @lguohan

[Build]: Fix installing dpkg packages in parallel issue
  src/sonic-build-hooks/hooks/apt
  src/sonic-build-hooks/hooks/apt-get
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Owners: @lguohan

Change build options
  .azure-pipelines/official-build.yml
Owners: @lguohan

Add lock info
  src/sonic-build-hooks/hooks/apt-get
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Owners: @lguohan

Fix get_command not found issue
  src/sonic-build-hooks/hooks/apt
  src/sonic-build-hooks/hooks/apt-get
Owners: @lguohan

Fix apt not found issue
  src/sonic-build-hooks/hooks/apt
Owners: @lguohan

Support vs arm64
  build_debian.sh
  platform/vs/onie.mk
  platform/vs/syncd-vs.mk
  sonic-slave-bullseye/Dockerfile.j2
Owners: @lguohan
