Repository xumia/sonic-buildimage-1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lguohan, @jleveque, @qiluo-msft, @xumia

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @lguohan will be requested for review when someone opens
# a pull request.
*       @lguohan

/device/ @jleveque

# build
/rules/         @qiluo-msft @xumia @lguohan
/Makefile       @qiluo-msft @xumia @lguohan
/Makefile.cache @qiluo-msft @xumia @lguohan
/Makefile.work  @qiluo-msft @xumia @lguohan
/slave.mk       @qiluo-msft @xumia @lguohan
/scripts        @qiluo-msft @xumia @lguohan

# installer
/installer/     @qiluo-msft

# permission
/files/image_config/sudoers/  @qiluo-msft

# dockers
/dockers/docker-base*/                  @qiluo-msft
/dockers/docker-config-engine*/         @qiluo-msft
/dockers/docker-snmp/                   @qiluo-msft

# src
/src/initramfs-tools/                   @qiluo-msft

[Build] Support j2 template for debian sources (#12557)
  .gitignore
  Makefile.work
  build_debian.sh
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-buster/sources.list
  dockers/docker-base-buster/sources.list.arm64
  dockers/docker-base-buster/sources.list.armhf
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base-stretch/sources.list
  dockers/docker-base-stretch/sources.list.arm64
  dockers/docker-base-stretch/sources.list.armhf
  files/apt/sources.list.amd64
  files/apt/sources.list.arm64
  files/apt/sources.list.armhf
  files/apt/sources.list.j2
  scripts/build_mirror_config.sh
  scripts/prepare_docker_buildinfo.sh
  slave.mk
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Owners: @lguohan, @qiluo-msft, @xumia

[Build] Support Debian snapshot mirror to improve build stability (#13097)
  rules/config
  scripts/build_mirror_config.sh
  scripts/generate_buildinfo_config.sh
  scripts/versions_manager.py
  slave.mk
  src/sonic-build-hooks/scripts/buildinfo_base.sh
  src/sonic-build-hooks/scripts/collect_version_files
Owners: @qiluo-msft, @xumia, @lguohan

[Build] Change the default mirror version config file (#13786)
  scripts/build_mirror_config.sh
Owners: @qiluo-msft, @xumia, @lguohan

[Ci] Support to use the same snapshot for all platform builds (#13913)
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Owners: @lguohan

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-web
  files/build/versions/dockers/docker-database/versions-web
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-web
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-web
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-web
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-web
Owners: @lguohan

test
  Makefile
  Makefile.work
Owners: @qiluo-msft, @xumia, @lguohan

Fix bug
  Makefile.work
Owners: @qiluo-msft, @xumia, @lguohan

Fix sonic-slave-buster/sources.list.amd64 not found issue
  scripts/prepare_docker_buildinfo.sh
Owners: @qiluo-msft, @xumia, @lguohan

Support marvell marvell-arm64
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

test
  .azure-pipelines/azure-pipelines-image-template.yml
Owners: @lguohan

Missing ARCH config
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

Fix mirror issue
  sonic-slave-stretch/Dockerfile
Owners: @lguohan

Add the azure pipeline definition for SONiC release notes
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan

Update azure-pipelines-release-notes.yml for Azure Pipelines
  .pipelines/azure-pipelines-release-notes.yml
Owners: @lguohan
